
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color:#afb9c5ba;
}

a {
	display: block;
	margin: 0 auto;
	color: white;
	position: relative;
	bottom: 10px;
}


.navbar, .navbar-expand-lg, .navbar-light, .bg-light {
	background-color: #355070 !important;

}

.navbar-brand {
	color: white !important;
}

.nav-link {
	color: white !important;
}

.navbar-toggler-icon {
	color: white !important;
}




.container {
	margin-top: 40px;
	border: 1px solid lightslategray;
	width: 50%;
	
}

h1 {
	color: white;
	font-size: 20px;
}

p {
	text-align: center;
	color: white;
	position: relative;
	bottom: 10px;
}


.col-md-12 {
	padding: 20px;
	background-color: #355070;
	border: 1px solid lightslategray;
}



.col-md-6 {
	float: left;
	border: 1px solid lightslategray;
	background-color: #70A288;
}

.row:after {
	content: "";
	display: table;
	clear: both;
  }

  img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
		
  }



@media (max-width: 640px) {

	.container {
		width: 80%;
	}

	img {
		transform: scale(.8);
	}

}



  @media (min-width: 768px) {

    .container {
		width: 75%;
		
	}
	
	img {
		transform: scale(.8);
	}

}

@media (min-width: 980px) {

    .container {
		width: 60%;
		
	}
	
}



