

form {
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    background-color: #5fa8d3;
    margin-bottom: 20px;
    width: 50%;
    
}

#contact-header {
    background-color: #1b4965 !important;
    padding: 15px;
}

.Name-row {
    padding: 10px;
}

.btn, .btn-primary {
    background-color: #1b4965!important;
    border-color: #1b4965!important;
    margin-bottom: 10px;
}

.email-text {
    color: white;
}

header {
    font-size: 24px;
    color: white;
    
}

.col-xl-12, .col-lg-12, .col-md-12, .col-sm-12, .col-12{
    background-color: #5fa8d3 !important;
}

#calendly-col {
    padding-top: 20px;
}








@media (max-width: 480px) {
    .contact-form {
        width: 95%;
        margin-left: 15px;
        
    }

    .Name-row, .Email-row, .message-row, #calendly-col {
        padding-right: 30px !important;
    }

}


@media (max-width: 725px) {

body {
        font-size: 14px;
    }
    
h1 {
        font-size: 18px;
    }

form {
    width: 80%;
    

}
    
    }

    
@media (min-width: 768px) {
    
body {
        font-size: 14px;
    }
        
    h1 {
        font-size: 20px;
        }
    form {
        width: 50%;
    }

        }


