/* form {
    position: relative;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    border: 1px solid lightgray;
    background-color: #70A288;
    padding: 20px;
    width: 50%;
} */

form {
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    border: 1px solid lightgray;
    background-color: #70A288;
    padding: 20px;
    margin-bottom: 20px;
    width: 50%;

}

.btn, .btn-primary {
    background-color: #355070 !important;
    border-color: #355070 !important;
    margin-bottom: 10px;
}

.email-text {
    color: white;
}

header {
    font-size: 24px;
}

.col-xl-12, .col-lg-12, .col-md-12, .col-sm-12, .col-12{
    background-color: #70A288 !important;
}




@media (max-width: 725px) {

body {
        font-size: 14px;
    }
    
h1 {
        font-size: 18px;
    }

form {
    width: 100%;
    margin: 0px 0px;

}
    /* .calendly-inline-widget {
        transform: scale(.6);
    } */

    }

    
@media (min-width: 768px) {
    
body {
        font-size: 14px;
    }
        
    h1 {
        font-size: 20px;
        }
    form {
        width: 50%;
    }

    


        }

@media (min-width: 980px) {
            
    
form {
        margin-right: 300px;
        width: 50%;

            }
        } 