#nav-color {
    background-color: #1b4965!important;
}

#navbar-text, #about-text, #portfolio-text, #contact-text {
    color: #CAE9FF;
}

#about-text:hover, #portfolio-text:hover, #contact-text:hover {
    background-color: #BEE9E8;
    color: #1B4965;
    
}

@media (max-width: 481px) {
    #nav-color {
        width: 102%;
    }
}