.portfolio-container {
  transform: scale(0.8);
  margin-bottom: 40px;
  margin-top: -40px;
  background: white;
  border-radius: 0.3rem 0.3rem !important;
}

.portfolio-header {
  background-color: #1c1e21 !important;
  border-radius: 0.3rem 0.3rem 0px 0px !important;
}

#portfolio-header {
  border: none;
}

#portfolio {
  color: black !important;
  text-align: center;
  font-size: 28px !important;
}

.grid-col,
.grid-col,
.col-md-6,
.col-sm-12,
.col-12 {
  background-color: transparent !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px !important;
  margin-bottom: 40px;
}

a {
  text-align: center;
}

p {
  color: white;
  font-size: 20px;
}

.portfolio-text:hover {
  color: rgb(14, 23, 111);
  font-size: 20px;
}

#portfolio {
  color: white !important;
}

@media (max-width: 640px) {
  img {
    transform: scale(0.8);
  }
}

@media (max-width: 325px) {
  img {
    transform: scale(0.95) !important;
  }
}

@media (max-width: 540px) {
  .portfolio-container {
    margin-top: -230px !important;
  }
  #project1,
  #project2,
  #project3,
  #project4,
  #project5,
  #project6 {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .portfolio-container {
    margin-top: -80px;
  }

  #project1,
  #project2,
  #project3,
  #project4,
  #project5,
  #project6 {
    margin-top: 0px !important;
    margin-bottom: 0px;
  }
}

@media (min-width: 768px) {
  .portfolio-container {
    width: 75%;
    margin-top: -100px;
  }

  img {
    transform: scale(0.8);
  }
}

@media (min-width: 980px) {
  .portfolio-container {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  img {
    transform: scale(1.1) !important;
  }

  .portfolio-container {
    width: 60% !important;
    margin-top: -100px !important;
  }
}
