.portfolio-container {
    border: 1px solid lightslategray;
    transform: scale(.8);
    margin-bottom: 40px;
    margin-top: -40px;

}

.portfolio-header, #portfolio-header {
    background-color: #355070 !important;
}


.grid-col {
    border: 1px solid lightslategray;
    background-color: #70A288;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px !important;
    margin-bottom: 40px;
}

a {
    text-align: center;
}

p {
    color: white;
}

#portfolio {
    color: white !important;
}



@media (max-width: 640px) {

	.container {
		width: 80%;
	}

	img {
		transform: scale(.8);
	}

}



  @media (min-width: 768px) {

    .container {
		width: 75%;
		
	}
	
	img {
		transform: scale(.8);
	}

}

@media (min-width: 980px) {

    .container {
		width: 60%;
		
	}
	
}