/* form {
    position: relative;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    border: 1px solid lightgray;
    background-color: #70A288;
    padding: 20px;
    width: 50%;
} */

form {
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    border: 1px solid lightgray;
    background-color: #70A288;
    padding: 20px;


}

header {
    font-size: px;;
}

@media (max-width: 640px) {

body {
        font-size: 14px;
    }
    
h1 {
        font-size: 18px;
    }
    }
    
@media (min-width: 768px) {
    
body {
        font-size: 14px;
    }
        
    h1 {
        font-size: 20px;
        }
    form {
        width: 50%;
    }
        }

@media (min-width: 980px) {
            
    
form {
        margin-right: 300px;
        width: 30%;

            }
        }