
body {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-size: 16px !important;

}
.footer  {
    background-color: transparent;
    position: fixed !important; 
    bottom: 0 !important; 
    width: 100% !important;
    text-align: center !important;
    height: 56px !important;

}

.footer a {
    text-decoration: none !important;
    color: white !important;
    float: none !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

#linked-in {
    transform: scale(2) !important;
    color: white;
    margin-left: 100px;
}

#github {
    transform: scale(2) !important;
    margin-right: 100px;
    color: white;
}

#facebook {
    transform: scale(2) !important;
    color: white;
}

#linked-in:hover, #github:hover, #facebook:hover {
    color:rgb(14, 23, 111);
}

.myemail {
   position: relative;
   top: 15px;
}


