body {
    background-color: #afb9c5ba ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;

}


.about-container {
    margin-top: 20px;
    border: 3px solid #1b4965;
}

#about-row, #about-col {
    background: #1b4965 !important;
    height: 50px;
    border: none;
}

h1 {
    color: #BEE9E8;
    font-size: 20px !important;
    margin-top: 10px !important;
}

#description, #description-row, #experience, #experience-col {
    background: #BEE9E8 !important;
    border: none !important;
    
}

.col-md-12 {
    background: white !important;
    border: none !important;
}

img {
    margin-top: 30px !important;
    display: block;
    transform: scale(1.2) !important;
    margin: 0 auto;
}

.about-content {
    color: black;
    margin-top: 40px;
    
}

.experience-content {
    color: black;
}


@media (min-width: 768px) {

    .container {
        width: 60%;
    }
    }
    

@media (max-width: 728px) {
    .about-content, .experience-content {
        font-size: 12px;

    }
    .about-container {
        overflow: scroll;
    }
        }


  
@media (max-width: 420px) {
    .about-content, .experience-content {
        font-size: 12px;

    }
   
        }      