body {
    background-color: #afb9c5ba ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;

}


.about-container {
    margin-top: 20px;
}

#about-row, #about-col {
    background: #70A288 ;
    height: 50px;
    border: none;
}

h1 {
    color: black;
    font-size: 20px !important;
    margin-top: 10px !important;
}

#description, #description-row, #experience, #experience-col {
    background: white !important;
    border: none !important;
    
}

.col-md-12 {
    background: white !important;
    border: none !important;
}

img {
    margin-top: 30px !important;
    display: block;
    transform: scale(1.2) !important;
    margin: 0 auto;
}

.about-content {
    color: black;
    margin-top: 40px;
    
}

.experience-content {
    color: black;
}


@media (min-width: 768px) {

    .container {
        width: 60%;
    }
    }
    
    