
body {
    background-color: #afb9c5ba !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-size: 16px !important;

}
.footer  {
    background-color: #355070 !important;
    position: fixed !important; 
    bottom: 0 !important; 
    width: 100% !important;
    text-align: center !important;
    height: 56px !important;

}



.footer a {
    text-decoration: none !important;
    color: white !important;
    float: none !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
   
}

/* 
footer a:active {
    color: #70A288 !important;
} */

#linked-in {
    transform: scale(2) !important;
    color: white;
    margin-left: 100px;
}

#github {
    transform: scale(2) !important;
    /* margin-left: 100px !important; */
    color: white;
    margin-right: 100px;
}

#facebook {
    transform: scale(2) !important;
    /* margin-left: 200px !important; */
    color: white;
}

#linked-in:hover, #github:hover, #facebook:hover {
   color:  #70A288;
}




/* .icon-container {
    width: 300px;
    height: 50px;
    display: flex !important;
    justify-content: center !important;
    border: 1px solid white !important;
} */